<div class="body-index">
  <div class="fondu-haut-index">
    <%= render "shared/navbar" %>
  </div>


  <div class="logo">
    <%= image_tag("logo.png") %>
  </div>

  <div class="index-proposition">
    <p><%= link_to "ajouter votre pokemon",  new_pokemon_path, class: "button"%></p>
  </div>

  <div class="grid-index">
    <% @pokemons.each do |pokemon| %>
      <%= link_to pokemon_path(pokemon), class: "link-card" do%>
        <div class="card-container">

          <div class="index-card-jaune">

            <% if pokemon.pokemon_type == "feu" %>
              <div class="index-card-rouge">
            <% elsif pokemon.pokemon_type == "plante"%>
              <div class="index-card-vert">
            <% elsif pokemon.pokemon_type == "normal"%>
              <div class="index-card-normal">
            <% elsif pokemon.pokemon_type == "electrique"%>
              <div class="index-card-eleck">
            <% else %>
              <div class="index-card-blue">
            <% end %>

                <div class="index-card-nom-level-pv">
                  <p><%= pokemon.name %></p>
                  <p>lvl <%= pokemon.level %></p>
                  <p>80 pv</p>
                </div>

                <div class="index-card-photo">
                  <%= cl_image_tag pokemon.photo.key, height: 200, width: 280, crop: :fill %>
                  <!-- width max -->
                </div>

                <div class="index-card-description">
                  <p><%= pokemon.description %></p>
                </div>

              </div>
          </div>
          <div class="index-card-price">
            <p><%= pokemon.price %> pieces</p>
          </div>

        </div>
      <% end %>

    <% end %>
  </div>

  <div class="fondu-bas-index"></div>
</div>
