<h1>index des pokemons</h1>
<br>
<br>
<p><%= link_to "ajouter votre pokemon",  new_pokemon_path %></p>


<% @pokemons.each do |pokemon| %>
  <br>
  <br>
  <br>
  <div class="index-card-jaune">

    <div class="index-card">

      <div class="index-card-nom-level-pv">
        <p><%= pokemon.name %></p>
        <p>lvl <%= pokemon.level %></p>
        <p>80 pv</p>
      </div>

      <div class="index-card-photo">
        <%= cl_image_tag pokemon.photo.key, height: 300, width: 400, crop: :fill %>
        <!-- width max -->
      </div>

      <div class="index-card-description">
        <p><%= pokemon.description %></p>
        <p><%= pokemon.price %> pieces</p>
      </div>

      <p><%= link_to "voir le pokemon",  pokemon_path(pokemon) %></p>

    </div>

  </div>


<% end %>
