<%= render "shared/navbar" %>
<h1>ajoutez votre pokemon</h1>
<%= simple_form_for @pokemon do |f| %>
  <%= f.input :name, placeholder: 'Nom de votre pokemon' %>
  <%= f.input :description, placeholder: 'description.....' %>
  <%= f.input :price, placeholder: '50€' %>
  <%= f.input :pokemon_type, placeholder: 'type' %>
  <%= f.input :level, placeholder: 'level' %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
