
<div class="body-show">
  <div class="fondu-haut-index">
    <%= render "shared/navbar" %>
  </div>

  <div class="body-content">
  </div>
  <div class="container-show-glass">
    <div class="show-content">
      <h1>la show de <%= @pokemon.name %></h1>
      <p>lvl.<%= @pokemon.level %></p>


      <%= cl_image_tag @pokemon.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="show-type-price">
        <p><%= @pokemon.pokemon_type %></p>
        <p><%= @pokemon.price %> pieces</p>
      </div>
      <div class="show-description">
        <p><%= @pokemon.description %></p>
      </div>

      <!-- debur form reservation-->

      <%= form_for @booking, url: pokemon_bookings_path(@pokemon), method: :post do |f| %>
        <div class="field">
          <%= f.label :start_date %><br>
          <%= f.datetime_field :start_date, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :end_date %><br>
          <%= f.datetime_field :end_date, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Réserver", class: "btn btn-primary" %>
        </div>
      <% end %>
      <!-- fin form reservation -->


    </div>
  </div>
    <div class="show-link">
      <p><%= link_to "revoir tout les pokemon", pokemons_path %></p>
      <p><%= link_to "réserver", pokemons_path %></p>
    </div>


  <div class="fondu-bas-show"></div>

</div>
