
<div class="body-show">
  <div class="container-show">
    <h1>la show de <%= @pokemon.name %></h1>
    <p>lvl.<%= @pokemon.level %></p>


    <%= cl_image_tag @pokemon.photo.key, height: 300, width: 400, crop: :fill %>

    <p><%= @pokemon.pokemon_type %></p>
    <p><%= @pokemon.description %></p>
    <p><%= @pokemon.price %> pieces</p>


    <p><%= link_to "revoir tout les pokemon", pokemons_path %></p>
  </div>
</div>
